{
  "extends": "airbnb-base",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "script"
  },
  "rules": {
    "arrow-body-style": "off",
    "arrow-parens": "off",
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "never"
      }
    ],
    "consistent-return": "off",
    "global-require": "warn",
    "import/no-dynamic-require": "off",
    "indent": [
      "error",
      4,
      {
        "SwitchCase": 1
      }
    ],
    "max-len": ["error", 120],
    "newline-per-chained-call": "warn",
    "no-bitwise": "warn",
    "no-else-return": "warn",
    "no-extra-boolean-cast": "off",
    "no-lonely-if": "warn",
    "no-mixed-operators": "warn",
    "no-multi-assign": "off",
    "no-new": "warn",
    "no-param-reassign": "warn",
    "no-plusplus": "off",
    "no-shadow": "warn",
    "no-underscore-dangle": "off",
    "no-unused-expressions": [
      "error",
      {
        "allowShortCircuit": true,
        "allowTernary": true
      }
    ],
    "object-curly-newline": "warn",
    "operator-linebreak": "warn",
    "prefer-destructuring": "warn",
    "strict": ["error", "global"]
  }
}